.form[@bp_reading]
  = simple_form_for @bp_reading, :html => {:class => 'form-horizontal'}, :defaults => {:input_html => {:class => 'row-fluid span1'}} do |f|
    - if f.error_notification
      .alert.alert-error.fade.in
        %a.close{:data => {:dismiss => "alert"}, :href => "#"} &times;
        = f.error_notification

    %legend #{@bp_reading.new_record? ? "Create" : "Edit"} Bloodpressure Reading
    = f.input :systolic_pressure, :placeholder => 'e.g. 115'
    = f.input :diastolic_pressure, :placeholder => 'e.g. 75'
    = f.input :heart_rate if current_user.record_heartrate?
    = f.input :recorded_at, :use_short_month => true, :order => [:month, :day, :year], :input_html => {:class => 'span1'}
    -# = f.input :recorded_at, :as => :string, :input_html => {:class => 'span2 jquery-ui-date', :value => @bp_reading.try(:recorded_at).try(:strftime,'%m/%d/%Y')}
    -# = f.input :recorded_at, :as => :hidden, :input_html => {:id => 'recorded-at-alt'}
    -# = f.input :recorded_at, :as => :time, :ignore_date => true, :input_html => {:class => 'span1'}
    = f.input :comment, :input_html => { :class => 'span5', :rows => 4 }

    .form-actions
      = f.button :submit, :class => 'btn-primary', :disable_with => "Saving...", :value => "Save"
      = link_to 'Cancel', bloodpressure_readings_path, :class => "btn btn-danger"