%h2 
  Bloodpressure Readings
  = link_to "<i class='icon-signal icon-white'></i> Show Graph".html_safe, '#', :id => 'show-chart', :class => 'btn btn-inverse'
  =link_to "Enter Blood Pressure", new_bloodpressure_reading_path, :class => "btn btn-primary", :remote => true


#bp-table
  = will_paginate @bp_readings

  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Systolic
        %th Diatolic
        %th Heart Rate
        %th= sortable @bp_readings, "recorded_at", "Date Recorded"
        %th Comment
        %th Action
    %tbody
      - @bp_readings.each do |bp_reading|
        %tr[bp_reading]
          %td= bp_reading.systolic_pressure
          %td= bp_reading.diastolic_pressure
          %td= bp_reading.heart_rate
          %td= pretty_date bp_reading.recorded_at
          %td= bp_reading.comment
          %td
            .btn-group
              %a.btn.btn-mini{:href => "#"} Action
              %a.btn.btn-mini.dropdown-toggle{:data => {:toggle => "dropdown"}, :href => "#"}
                %span.caret
              %ul.dropdown-menu
                %li= link_to "<i class='icon-pencil'></i> Edit".html_safe, edit_bloodpressure_reading_path(bp_reading), :remote => :true
                %li= link_to "<i class='icon-trash'></i> Delete".html_safe, bloodpressure_reading_path(bp_reading), :method => :delete, :confirm => "Are you sure?"

  =link_to "Enter Blood Pressure", new_bloodpressure_reading_path, :class => "btn btn-primary", :remote => true

#bp-chart

.modal.hide.fade#modal-form
  .modal-header
    %h3
  .modal-body