.hero-unit
  %h2 Blood pressure tracking made easy
  %p
    %ul
      %li BP Track is free and easy to use.
      %li Login with your existing #{link_to 'Google', '/auth/google_oauth2', {:rel => 'tooltip', :data => {'original-title' => 'click to login with your Google Account'}}}, #{link_to 'Twitter', '/auth/twitter', {:rel => 'tooltip', :data => {'original-title' => 'click to login with your Twitter Account'}}} or #{link_to 'Facebook', '/auth/facebook', {:rel => 'tooltip', :data => {'original-title' => 'click to login with your Facebook Account'}}} account, no Sign Up required
      %li No more writing down your readings on slips of paper or a calendar.
      %li See your progress on an easy to read graph that you can share with your doctor.
  %p
    %a.btn.btn-primary.btn-large{:data => {:toggle => "modal"}, :href => "#my-modal"}
      %i.icon-info-sign.icon-white
      Learn more


.carousel#my-carousel
  .carousel-inner
    .item.active
      %blockquote
        %p "BP Track is a great way of easily tracking your blood pressure so you can share it with your doctor."
        %small Dr. Micheal Vier, MD
    .item
      %blockquote
        %p "BP Track is an easy-to-use tool for tracking my blood pressure. I will bring along the graph for my next doctor's appointment. Thank you to the BP Track team for developing this online tool and making it available free of charge!"
        %small M Lin, BPTrack user
  %a.carousel-control.left{:href => "#my-carousel", :data => {:slide => "prev"}} &lsaquo;
  %a.carousel-control.right{:href => "#my-carousel", :data => {:slide => "next"}} &rsaquo;


#how-it-works
  %h1 How it works
  #step-1
    %h3 1. Login with your existing #{link_to 'Google', '/auth/google_oauth2', {:rel => 'tooltip', :data => {'original-title' => 'click to login with your Google Account'}}}, #{link_to 'Twitter', '/auth/twitter', {:rel => 'tooltip', :data => {'original-title' => 'click to login with your Twitter Account'}}} or #{link_to 'Facebook', '/auth/facebook', {:rel => 'tooltip', :data => {'original-title' => 'click to login with your Facebook Account'}}} account.
  #step-2
    %h3 2. Enter your blood pressure using a web page, text (SMS) or email.
  #step-3
    %h3 3. Print your graph (or bring your smart phone / iPad) and share it with your doctor.

.modal.hide.fade#my-modal
  .modal-header
    %a.close{:data => {:dismiss => "modal"}} &times;
    %h3 Demonstration of bptrack service
  .modal-body
    %p
      %iframe{:width => "540", :height => "315", :src => "http://www.youtube.com/embed/DVSbXO_LoHg", :frameborder => "0"}
  -# .modal-footer
    %a.btn{:href => "#", :data => {:dismiss => "modal"}} Close
