%nav#nav
  .navbar
    .navbar-inner
      .container
        = link_to "BPTrack", root_path, :class => "brand"
        %ul.nav
          %li= link_to '<i class="icon-home icon-white"></i> Home'.html_safe, root_path
          - if logged_in?
            %li= link_to '<i class="icon-heart icon-white"></i> MyBP'.html_safe, bloodpressure_readings_path

        %ul.nav.pull-right
          %li.dropdown
            %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}} 
              Account
              %b.caret
            %ul.dropdown-menu
              - if logged_in?
                %li= link_to '<i class="icon-user"></i> Profile'.html_safe, edit_user_path(current_user)
                %li= link_to '<i class="icon-off"></i> Sign Out'.html_safe, signout_path
              - else
                %li= link_to "Sign In with Twitter", "/auth/twitter"
                %li= link_to "Sign In with Facebook", "/auth/facebook"
                %li= link_to "Sign In with Google", "/auth/google_oauth2"